<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="books_details.css">
	<title>Books</title>
</head>
<body>
	<header>
		<div class="header">
			<h1>Book Shop</h1>
			<nav>
				<ul class="navigation">
					<li><a href="">Главная</a></li>
					<li id="add_btn"><a href="">Добавить книгу</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
        <div class="title">Book Details</div>
        <section class="item">
            <div class="field">
                <p>Название:</p>
            </div>
            <div class="description">
                <p>Гарри Поттер</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Подзаголовок:</p>
            </div>
            <div class="description">
                <p>Гарри Поттер</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Описание:</p>
            </div>
            <div class="description">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod maxime a repudiandae quae dolor, perferendis error illum iure modi voluptates laborum aut possimus asperiores culpa quasi dignissimos reiciendis laboriosam molestiae!</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Цена:</p>
            </div>
            <div class="description">
                <p> <span class="price">430.00</span> c</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Жанр:</p>
            </div>
            <div class="description">
                <p>фантастика</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Автор:</p>
            </div>
            <div class="description">
                <p>Гарри Поттер</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Год издания:</p>
            </div>
            <div class="description">
                <p>2009</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Дата и время добавления:</p>
            </div>
            <div class="description">
                <p>2009</p>
            </div>
        </section>
	</main>
	<footer>
		<p>Python Django</p>
	</footer>
</body>
</html>