{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/books_details.css' %}">
	<title>Books</title>
</head>
<body>
	<header>
		<div class="header">
			<h1>Book Shop</h1>
			<nav>
				<ul class="navigation">
					<li><a href="{% url 'main-page' %}">Главная</a></li>
					<li id="add_btn"><a href="{% url 'add-page' %}">Добавить книгу</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
        <div class="title">Book Details</div>
        <section class="item">
            <div class="field">
                <p>Название:</p>
            </div>
            <div class="description">
                <p>{{ book.title }}</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Подзаголовок:</p>
            </div>
            <div class="description">
                <p>{{ book.subtitle }}</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Описание:</p>
            </div>
            <div class="description">
                <p>{{ book.description }}</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Цена:</p>
            </div>
            <div class="description">
                <p><span class="price">{{ book.price }}</span> c</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Жанр:</p>
            </div>
            <div class="description">
                <p>{{ book.genre }}</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Автор:</p>
            </div>
            <div class="description">
                <p>{{ book.author }}</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Год издания:</p>
            </div>
            <div class="description">
                <p>{{ book.year }}</p>
            </div>
        </section>

        <section class="item">
            <div class="field">
                <p>Дата и время добавления:</p>
            </div>
            <div class="description">
                <p>{{ book.date }}</p>
            </div>
        </section>
	</main>
	<footer>
		<p>Python Django</p>
	</footer>
</body>
</html>