<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
	<title>Books</title>
</head>
<body>
	<header>
		<h1>32 Урок</h1>
	</header>
	<main>
		<div class="title">Book List</div>
		<div class="content_block">
			<div class="item">
				<div class="text">
					<div class="book_title">Title</div>
					<div class="book_genre">Genre:</div>
				</div>
				<div class="book_price">Price: <span>200$</span></div>
			</div>
		</div>
	</main>
	<footer>
		<p>Python Django</p>
	</footer>
</body>
</html>