{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
	<title>Books</title>
</head>
<body>
	<header>
		<div class="header">
			<h1>Book Shop</h1>
			<nav>
				<ul class="navigation">
					<li><a href="{% url 'main-page' %}">Главная</a></li>
					<li id="add_btn"><a href="{% url 'add-page' %}">Добавить книгу</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<main>
		<div class="title">Book List</div>
		<div class="content_block">
			{% for book in book_list %}
			<div class="item
				{% if book.is_favorite %}
					marked
				{% endif %}
			">
				<div class="text">
					<div class="book_title">{{ book.title }}</div>
					<div class="book_genre">Жанр: {{ book.genre }}</div>
				</div>
				<div class="price_icons">
					<div class="book_price">Цена: <span>{{ book.price}}c</span></div>
					<div class="icons">
						{% if book.is_favorite %}
						<a href="{% url 'unmark-book' book.id %}">
							<img src="{% static 'icons/marked.png' %}" alt="">
						</a>
						{% else %}
						<a href="{% url 'mark-book' book.id %}">
							<img src="{% static 'icons/unmarked.png' %}" alt="">
						</a>
						{% endif %}
						<a href="{% url 'delete-book' book.id %}">
							<img src="{% static 'icons/remove.png' %}" alt="">
						</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</main>
	<footer>
		<p>Python Django</p>
	</footer>
</body>
</html>